input.ng-invalid.ng-touched {
  border-color: #dc3545;
}


.dimmed-input {
    background-color: #f8f9fa;  
    color: #6c757d;           
    border-color: #dee2e6;    
    cursor: not-allowed;       
}